<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
</head>

<body>
    <form action='/new-url' method='post'>
        <input type='text' name='longurl'>
        <p>Enter the Long URL</p>
        <input type='text' name='shorturl'>
        <p>Enter if you want to create a custom Short URL (Url must be 7 characters long. It can carry [A-Z] , [a-z] and [0-9] characters)</p>
        <input type='submit' value='submit'>
    </form>
</body>

</html>